<!-- Localization completed -->
<div class="modal-header">
    <h4 class="modal-title">
        <span localized>device.location.title</span>
        <span ng-if="device"> &mdash; {{device.number}}</span>
    </h4>
</div>

<div class="modal-body">
    <div ng-show="errorMessage" class="error tw-mb-3"><span>{{errorMessage}}</span></div>

    <div ng-show="loading" class="tw-py-6 tw-text-center tw-text-slate-500" localized>
        device.location.loading
    </div>

    <div ng-if="!loading && !errorMessage && location">
        <div class="device-location-summary">
            <div>
                <strong localized>device.location.latitude</strong>:
                <span>{{location.lat}}</span>
            </div>
            <div>
                <strong localized>device.location.longitude</strong>:
                <span>{{location.lon}}</span>
            </div>
            <div>
                <strong localized>device.location.time</strong>:
                <span>{{location.ts | date:'medium'}}</span>
            </div>
            <div>
                <strong localized>device.location.history.points</strong>:
                <span>{{locations.length}}</span>
            </div>
        </div>
        <div id="device-location-map" class="device-location-map" style="height: 420px; min-height: 320px;"></div>
    </div>
</div>

<div class="modal-footer">
    <button type="button" class="btn btn-default" ng-click="close()" localized>button.close</button>
</div>
